!!!
html
  head
    title= "Chris Wagner's Blog"
    meta(charset='utf-8')
  body
    header
      h1
        a(href='/')
          ChrisWagnerBlog.com
    .content
      block content
    .sidebar
      nav
        ul.categories
          - each cat in categoryList
            li
              a(href=categoryUrl(cat)) #{cat}
        ul.tags
          - each tag in tagList
            li
              a(href=tagUrl(tag)) #{tag}
